body {
  background-image: url("file:///Users/steve/Documents/Websites/1992TCBwebsite/images/02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:  center center;
}



.jumbotron	{
  position: fixed;
  top: 0px;
  left: 10px;
}



.hours		{
		width:auto;
		}

.ML		{
		width:auto
}

#bgdiv  {
  width: 50%;
  height: 50%;
  
}
a:link		{
		color: black;
		text-decoration: none;
		}
a:visited	{		
		color: black;
		text-decoration: none;
		}
a:hover		{
		color: gray;
		text-decoration: none;
		
		}
h1		{
		font-family: 'Chewy', cursive;
		font-size: 4em;
		letter-spacing: .3em;
		margin:0;
    		padding:0;
		text-shadow: 0px 0px 6px lightgrey;
		}
h2		{
		font-family: 'Chewy', cursive;
		font-size: 3em;
		letter-spacing: .2em;
		margin:0;
    		padding:0;
		text-shadow: 0px 0px 6px lightgrey;

		}
h3		{
		font-family: 'Chewy', cursive;
		font-size: 1.5em;
		letter-spacing: .1em;
		margin:1;
    		padding:1;
		text-shadow: 0px 0px 6px lightgrey;

		}
p		{
		font-family: 'Chewy', cursive;
		font-size: 1em;
		letter-spacing: .1em;
		text-shadow: 0px 0px 6px lightgrey;
		}
.bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    left: 10px;
    right: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

